<div class="wrapper">
  <div class="btc-info">
    <span class="btc-icon"></span>
    <span class="btc-name h3"></span>
  </div>

  <div class="btc-main">
    <div>{{coinData.name}}</div>
    <div>Price (USD): {{coinData.quote.USD.price}}<span class="btc-usd"></span></div>
    <div>1 hour change: {{coinData.quote.USD.percent_change_1h}}<span class="btc-change-1h"></span></div>
    <div>1 day change: {{coinData.quote.USD.percent_change_24h}}<span class="btc-change-1d"></span></div>
    <div>1 week change: {{coinData.quote.USD.percent_change_7d}}<span class="btc-change-1w"></span></div>
  </div>

  {{!-- User can enter a new comment here --}}
  <div class="commentInput">
    <form>
      <div class="form-group">
        <textarea class="form-control status-box" rows="3" placeholder="Enter your comment here..."></textarea>
      </div>
    </form>
    <div class="button-group pull-right">
      <p class="counter">250</p>
      <a href="#" class="btn btn-primary post" id="postCommentButton" onclick="postComments('{{userIDData}}','{{coinData.id}}')">Post</a>
    </div>
    <ul class="posts">
      {{#each commentData as |data|}}
      <li>By {{data.user_id}} : {{data.comment_text}}</li>
      {{/each}}
    </ul>
  </div>

</div>
<footer>
</footer>