<h1>Test title</h1>

{{#each cryptos as |crypto|}}
  <div class="row align-center mb-5">
    <tr>
      <td>{{crypto.id}} </td>
      <td>{{crypto.name}} </td>
      <td>{{crypto.price}}</td>
      <td>{{crypto.day_volume}}</td>
      <td>{{crypto.marketcap}}</td>
    </tr>
  </div>
{{/each}}
